<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="">

    <!-- Bootstrap & JQuery -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- D3.js -->
    <script src="static/lib/d3.min.js"></script>
    <script src="static/lib/plotly-latest.min.js"></script>

    <!-- custom css & js files -->
    <script src='static/lib/js-common-func.js'></script>
    <script src='static/lib/assignment2.starcoordinates.js'></script>
    <script src='static/lib/assignment4.correlation.matrix.js'></script>
    <link rel="stylesheet" href="static/lib/style.css">


</head>
<body>

<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <div class="container-fluid col-md-2">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Assignment 4 Dashboard</a>
    </div>
    <div class="container-fluid col-md-10">
        <h2>Dynamic Tabs</h2>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <b></b>Dataset:
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="?data=iris">
                            Iris
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="?data=wine">
                            Wine
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="?data=car">
                            MtCars
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="?data=assignment1">
                            Assignment 1
                        </a>
                    </li>

                </ul>
            </div>
        </nav>
        <div class="container-fluid col-md-10" id="tabs">
            <ul>
                <li><a href="#table">Retrieve Data Table View</a></li>
                <li><a href="#home">Radviz</a></li>
                <li><a href="#menu1">correlation matrix</a>
                </li>
                <li><a href="#menu2">Clustering</a></li>
            </ul>

            <div id="table">
                <div class="row col-md-12">
                    <div id="myDiv_table" class="col-md-12"><!-- Plotly chart will be drawn inside this DIV --></div>
                </div>

            </div>

            <div id="home">
                <h3>Radviz</h3>
                <div class="col-xs-12" id="toolbar" style="display: -webkit-flex; /* Safari */display: flex;">
                    <div id="toolbar_featureLables"></div>
                    <!--div id="toolbar_featureSliders" style="width:200px"></div-->

                </div>

                <div class="col-xs-12" id="mainPanel">

                </div>

            </div>
            <div id="menu1">
                <h3>correlation matrix</h3>

                <div class="col-xs-12" id="matrix_mainPanel">

                </div>
            </div>
            <div id="menu2">
                <div class="col-xs-12" id="pred_cust">
                    <h3>Predictive Clustering <!-- Rounded switch -->(Adjusted Rand index Score: <span
                            id="ari_score"></span> )
                        <span style="font-size:14px"><b>Switch to Actual Classification</b></span>
                        <label class="switch">

                            <input type="checkbox" id="cust_checkbox" checked="checked" onchange="goToActual()">
                            <span class="slider round"></span>
                        </label></h3>
                    <div class="col-xs-12" id="cluster_toolbar"
                         style="display: -webkit-flex; /* Safari */display: flex;">
                        <div id="cluster_toolbar_featureLables" class="col-xs-4"></div>
                        <!--div id="cluster_toolbar_featureSliders" style="width:200px"></div-->
                        <div id="cluster_toolbar_parameters" class="col-xs-8">
                            <label for="n_clusters">CLUSTER_K<input name='n_clusters' id='n_clusters'
                                                                    style="margin-right:10px"></label>
                            <label for="n_init">N_INIT<input name='n_init' id='n_init' value='10'
                                                             style="margin-right:10px"></label>
                            <label for="random_state">RANDOM_STATE<input name='random_state' id='random_state'
                                                                         value='None' style="margin-right:10px"></label>
                            <label for="n_init">BATCH_SIZE<input name='batch_size' id='batch_size' value='100'
                                                             style="margin-right:10px"></label>
                        </div>
                    </div>

                    <div class="col-xs-12" id="cluster_mainPanel"></div>
                </div>
                <div class="col-xs-12" id="actual_cust">
                    <h3>Actual Classification<span style="font-size:14px"><b>Switch to Preditive Clustering</b></span>
                        <label class="switch">

                            <input type="checkbox" id="actual_checkbox" onchange="goToClustering()">
                            <span class="slider round"></span>
                        </label></h3></h3>
                    <div class="col-xs-12" id="cluster_toolbar_orig"
                         style="display: -webkit-flex; /* Safari */display: flex;">
                        <div id="cluster_toolbar_featureLables_orig" class="col-xs-4"></div>
                        <!--div id="cluster_toolbar_featureSliders_orig" style="width:200px"></div-->
                    </div>
                    <div class="col-xs-12" id="cluster_mainPanel_orig"></div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>


</body>
</html>
